<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Big Screen Advertising</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='/stylesheets/bootstrap.css' rel='stylesheet'/>
</head>

<!--<body>
<div>
    <br><br><br>
    <div id = "leds">
        <label style=" color: gray; font-size: medium; ">Click to Turn On !! </label>
        <input type="button" style="background-color: #0480be; color: white;height:30px; width:120px;" id="postLedRed" value="Led Red" />
        <input type="button" style="background-color: #0480be; color: white;height:30px; width:120px;" id="postLedBlue" value="Led Blue" />
        <input type="button" style="background-color: #0480be; color: white;height:30px; width:120px;" id="postLedGreen" value="Led Green" />
    </div>
</div>
</body>-->
</html>
